<section class="mapa">
  <div class="mapa__container">
    <article class="mapa__formulario">
      <h2>Contacto</h2>
      <app-form-contacto></app-form-contacto>
    </article>
    <article class="mapa__google">
      <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3395.74779910446!2d-59.89322513183414!3d-31.668118981116443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sLebhenson%2051%2C%20Mar%C3%ADa%20Grande%2C%20Entre%20R%C3%ADos!5e0!3m2!1ses!2sar!4v1671013471793!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </article>
  </div>
</section>