.mapa{
    width: 100%;
    font-size: 20px;
    padding: 1.4rem 0px;
    background: linear-gradient(to bottom,var(--colorSec), var(--colorTer)) ;
}
.mapa__container{
    max-width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 2em 0px;
    color: #fff;
}
.mapa__google, .mapa__formulario{
    width: 50%;
}
.mapa__google iframe{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 600px){
    .mapa__container{
        display: block;
    }
    .mapa__google, .mapa__formulario{
        width: 90%;
        margin: auto;
    }
}