<nav class="menu">
    <app-logo></app-logo>
    <div class="menu__enlaces">
        <button *ngIf="producto" class="menu__boton" routerLink='/productos' >Productos</button>
        <button *ngIf="!producto" class="menu__boton" routerLink='/' >Home</button>
        <button class="menu__boton">Contacto</button>
    </div>
    <div class="hamburguesa">
        <button class="hamburguesa__menu" (click)="hamburguesa()"><i class="{{icono}}"></i></button>
        <div class="hamburguesa__enlaces" #enlaces>
            <button class="hamburguesa__boton">Productos</button>
            <button class="hamburguesa__boton">Contacto</button>
        </div>
    </div>
</nav>
