<nav class="menu">
    <picture class="logo">
        <img class="logo__imagen" src="assets/img/logo-panaderia.png" alt="Panadería web">
    </picture>
    <div class="menu__enlaces">
        <button class="menu__boton" routerLink='/productos' >Productos</button>
        <button class="menu__boton">Contacto</button>
    </div>
    <div class="hamburguesa">
        <button class="hamburguesa__menu" (click)="hamburguesa()"><i class="{{icono}}"></i></button>
        <div class="hamburguesa__enlaces" #enlaces>
            <button class="hamburguesa__boton">Productos</button>
            <button class="hamburguesa__boton">Contacto</button>
        </div>
    </div>
</nav>
