<nav>
    <picture class="logo">
        <source media="(min-width: 600px)" srcset="https://images.unsplash.com/photo-1509440159596-0249088772ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80">
        <source media="(max-width: 600px)" srcset="https://images.unsplash.com/photo-1558961363-fa8fdf82db35?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80" width="50px">
    </picture>
    <div class="enlaces">
        <button>Productos</button>
        <button>Contacto</button>
    </div>
</nav>
