<section class="about" #about>
    <div class="about__container">
        <article class="about__texto">
            <div #texto class="about__textoAbout">
                <h2>Sobre nosotros</h2>
                <span>Una página web le permite no solo tener presencia en Internet, sino que también es el lugar desde
                    donde puede desplegar toda la estrategia digital de su negocio.</span>
                <span>Sus comensales y los potenciales están navegando en internet, buscando recomendaciones y nuevos
                    lugares para ir a comer algo delicioso a cualquier hora del día. Es por eso que tener presencia
                    activa en internet con un buen sitio web, le representará un mayor alcance hacia nuevos
                    clientes.</span>
            </div>

        </article>
        <picture class="about__picture">
            <img #imagen class="about__imagen about__imagen--uno" src="assets/img/img1.jpg" alt="">
            <img #imagen class="about__imagen about__imagen--dos" src="assets/img/img2.jpg" alt="">
            <img #imagen class="about__imagen about__imagen--tres" src="assets/img/img3.jpg" alt="">
        </picture>
    </div>

</section>