<section class="about" #about>
    <div class="about__container">
        <article class="about__texto">
            <div #texto class="about__textoAbout">
                <h2>Sobre nosotros</h2>
                <span>{{textoAbout}}</span>
            </div>

        </article>
        <picture class="about__picture">
            <img #imagen class="about__imagen about__imagen--uno" src="{{img1}}" alt="">
            <img #imagen class="about__imagen about__imagen--dos" src="{{img2}}" alt="">
            <img #imagen class="about__imagen about__imagen--tres" src="{{img3}}" alt="">
        </picture>
    </div>

</section>