<footer class="footer">
    <div class="footer__container">
        <div class="footer__redes-logo">
            <div class="footer__logo">
                <picture class="logo">
                    <img class="logo__imagen" src="{{logo}}" alt="Panadería web">
                </picture>
            </div>
            <div class="footer__redes">
                <a target="_blank" href="{{datos?.insta}}" title="Instagram"><i class="icofont-instagram"></i> </a>
                <a target="_blank" href="{{datos?.face}}" title="Facebook"><i class="icofont-facebook"></i> </a>
                <a target="_blank" href="mailto:{{datos?.email}}?subject=Quisiera contratar sus servicios." title="Email"><i class="icofont-email"></i> </a>
                <a target="_blank" href="https://wa.me/54{{datos?.wspp}}/?text=Quisiera%20contratar%20sus%20servicios." title="Whatsapp"><i class="icofont-whatsapp"></i> </a>
            </div>
            
        </div>
        <div class="footer__firma">
            <aside>Desarrollado por Diego Kemer</aside>
            <span>@2022</span>
        </div>
    </div>
</footer>