<form action="" class="form">
    <div class="form__block">
      <label for="name">Nombre:</label>
      <input type="text" id="name">
    </div>
    <div class="form__block">
      <label for="lastname">Apellido:</label>
      <input type="text" id="lastname">
    </div>
    <div class="form__block">
      <label for="email">Email:</label>
      <input type="text" id="email">
    </div>
    <div class="form__mensaje">
      <label for="mensajje">Mensaje:</label>
      <textarea name="mensaje" id="mensaje" cols="30" rows="10"></textarea>
    </div>
    <div class="form__send">
      <button>Enviar</button>
    </div>
  </form>
