<div class="home">
    <div class="home__container">
        <form action="" class="home__form">
            <div class="home__form-block">
                <h2>Cambiar logo</h2>
                <div class="home__form-logo">
                    <input hidden type="file" (change)="cambiarLogo($event)" id="logo">
                    <img src="{{logo}}" alt="">
                    <label for="logo">Seleccionar logo</label>
                    <button class="logo__button" (click)="saveLogo()">Guardar logo</button>
                </div>
            </div>
            <div class="home__form-block">
                <h2>Cambiar imágenes del slider</h2>
                <div class="home__from-imagenes">
                    <ng-container *ngFor="let item of imagenes">
                        <div class="home__from-imagen">
                            <img src="{{item.url}}" alt="">
                            <button (click)="formImg(item)">editar imagen</button>
                        </div>
                    </ng-container>

                    <div *ngIf="editImg" class="agregar-imagen">
                        <button class="agregar-imagen__cerrar" (click)="formImgOff()"><i
                                class="icofont-close-circled"></i></button>
                        <div class="agregar-imagen__container">
                            <form #formUrl="ngForm">
                                <input hidden name="url" ngModel type="file" (change)="foto($event)" id="addImg">
                                <label for="addImg">Seleccionar: </label>
                                <img src="{{imgSelected}}" alt="">
                                <div class="send">
                                    <button [disabled]="!url" class="agregar-imagen__send"
                                        (click)="actualizarImg()">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home__texto" [formGroup]="formText">
                <div class="home__texto-landing">
                    <h2>Cambiar texto del landing</h2>
                    <textarea formControlName="textLanding" name="textLanding" rows="15"></textarea>
                </div>
                <div class="home__texto-about">
                    <h2>Cambiar texto "Sobre nosotros"</h2>
                    <textarea formControlName="textAbout" name="textAbout" rows="15"></textarea>
                </div>
                <button [disabled]="formText.invalid" (click)="saveTexto()" class="home__texto-save">Guardar
                    textos</button>
            </div>
            <div class="home__promociones">
                <h2>Editar las promociones</h2>
                <div class="promociones__container">

                    <article *ngFor="let item of promociones" class="promociones__item">
                        <picture>
                            <img #animado class="promociones__imagen" src={{item.img}} alt="">
                        </picture>
                        <div #animado class="promociones__description">
                            <h3>{{item.titulo}}</h3>
                            <p>{{item.descripcion}}</p>
                            <span>{{item.precio | currency}}</span>

                        </div>
                        <button class="button" (click)="abrir(item)">Editar</button>
                    </article>

                    <div class="promociones__edit" *ngIf="editPromociones">
                        <article class="promociones__item" [formGroup]="formPromo">
                            <button class="cerrar" (click)="cerrarPromo()"><i
                                    class="icofont-close-circled"></i></button>
                            <picture>
                                <input type="file" (change)="imgPromo($event)" id="imgProm">
                                <label for="imgProm">Seleccionar imagen
                                    <img #animado class="promociones__imagen" src={{imgSel}} alt=""></label>
                            </picture>
                            <div #animado class="promociones__description">
                                <h2><input formControlName="titulo" type="text" placeholder="{{promoSelect?.titulo}}">
                                </h2>
                                <p><input formControlName="descripcion" type="text"
                                        placeholder="{{promoSelect?.descripcion}}"></p>
                                <span><input formControlName="precio" type="number"
                                        placeholder="{{promoSelect?.precio}}"> </span>
                            </div>
                            <button class="button" [disabled]="formPromo.invalid"
                                (click)="actualizarPromo()">Guardar</button>
                        </article>
                    </div>
                </div>

            </div>
            <div class="home__work">
                <div class="home__videoPresent" [formGroup]="formPresVid">
                    <div class="home__videoPresent-video">
                        <video src="{{video}}" controls></video>
                        <input type="file" id="video" hidden accept=".mp4" (change)="verVideo($event)">
                        <label for="video">Seleccionar video</label>
                    </div>
                    <div class="home__videoPresent-Present">
                        <label for="tit">Título:</label>
                        <input formControlName="titulo" type="text" id="tit">
                        <label for="pres">Texto:</label>
                        <textarea formControlName="descripcion" name="pres" id="pres" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <button (click)="guardarPres()">Actualizar texto y video</button>
            </div>
            <div class="home__mapa">
                <h2>Seleccionar ubicación en el mapa</h2>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3395.74779910446!2d-59.89322513183414!3d-31.668118981116443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sLebhenson%2051%2C%20Mar%C3%ADa%20Grande%2C%20Entre%20R%C3%ADos!5e0!3m2!1ses!2sar!4v1671013471793!5m2!1ses!2sar"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="home__redes" [formGroup]="formDatos">
                <h2>Editar las redes sociales</h2>
                <div class="home__redes-soc">
                    <div class="home-red">
                        <label for="dominio">Nombre de la empresa:</label>
                        <input formControlName="nombre" placeholder="{{datos?.nombre}}" type="text" id="dominio">
                    </div>
                    <div class="home-red">
                        <label for="facebook">Facebook:</label>
                        <input formControlName="face" placeholder="{{datos?.face}}" type="text" id="facebook">
                    </div>
                    <div class="home-red">
                        <label for="instagram">Instagram:</label>
                        <input formControlName="insta" placeholder="{{datos?.insta}}" type="text" id="instagram">
                    </div>
                    <div class="home-red">
                        <label for="whatsapp">Whatsapp:</label>
                        <input formControlName="wspp" placeholder="{{datos?.wspp}}" type="number" id="whatsapp">
                    </div>
                    <div class="home-red">
                        <label for="email">Email:</label>
                        <input formControlName="email" placeholder="{{datos?.email}}" type="email" id="email">
                    </div>
                    <div class="home-red home-red-col">
                        <h4>Colores:</h4>
                        <div class="colores">
                            <div class="color">
                                <label for="color1">Color principal:</label>
                                <input formControlName="color1" value="{{datos?.color1}}" type="color" id="color1">
                            </div>
                            <div class="color">
                                <label for="color2">Color secundario:</label>
                                <input formControlName="color2"  value="{{datos?.color2}}" type="color" id="color2">
                            </div>
                            <div class="color">
                                <label for="color3">Color terciario:</label>
                                <input formControlName="color3"  value="{{datos?.color3}}" type="color" id="color3">
                            </div>
                        </div>

                    </div>
                    <button class="home__redes-bot" (click)="guardarDatos()">Guardar</button>
                </div>
            </div>

        </form>
    </div>
</div>