
<div class="nav">
   <app-nav></app-nav> 
</div>

<div class="productos">
    <header class="productos__header">
        <h2>Productos</h2>
    </header>
    <div class="productos__buscador">
        <app-buscador (productosPorCate)="traerPorCategoria($event)"></app-buscador>
    </div>
    <div class="productos__body">
        <app-producto *ngFor="let item of productos" [producto]="item"></app-producto>
    </div>
    <div class="productos__botones">
        <p>Página {{page}} de {{totalPages}}</p>
        <button class="productos__boton productos__boton--back" *ngIf="prev" title="Anterior" (click)="previo()"><i class="icofont-arrow-left"></i></button>
        <button class="productos__boton productos__boton--nex" *ngIf="next" title="Siguiente" (click)="siguiente()"><i class="icofont-arrow-right"></i></button>
    </div>
</div>
<app-footer></app-footer>
