<section class="work">
    <div class="work__container">
        <div class="worw__video">
            <video src="assets/video/Pasta.mp4" controls autoplay></video>
        </div>
        <div class="work__description">
            <h3>Comprometidos con la calidad</h3>
            <p>La panadería es una de las profesiones más viejas del mundo, opcionalmente puedes agregar videos de cómo hacen el pan en tu negocio, a fin de empatizar con tu clientela.</p>
            <p>La panadería es una de las profesiones más viejas del mundo, opcionalmente puedes agregar videos de cómo hacen el pan en tu negocio, a fin de empatizar con tu clientela.</p>
            <p>La panadería es una de las profesiones más viejas del mundo, opcionalmente puedes agregar videos de cómo hacen el pan en tu negocio, a fin de empatizar con tu clientela.</p>
        </div>
    </div>
</section>
