@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
@import "./assets/icofont/icofont/icofont.min.css";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    font-family: 'Raleway', sans-serif;
    --colorPri: #f6803e;
    --colorSec: #a63b0f;
    --colorTer: #2c2320;
}