<section class="promociones" #promociones>
    <h2>Promociones</h2>
    <div class="promociones__container">
        <article class="promociones__item">
            <picture class="promociones__picture">
                <img #animado class="promociones__imagen" src="assets/img/pan de ajo.jpg" alt="">
            </picture>
            <div #animado class="promociones__description">
                <h3>Pan de ajo</h3>
                <p>Obtén un 25% de descuento en tu compra de pan de ajo y lleva 8 unidades x $400 *Por tiempo limitado.</p>
                <span>$600</span>
            </div>
        </article>
        <article class="promociones__item">
            <picture>
                <img #animado class="promociones__imagen" src="assets/img/pan navideño.jpg" alt="">
            </picture>
            <div #animado class="promociones__description">
                <h3>Pan dulce + pan de manteca (12 u)</h3>
                <p>Perfecto para la hora del café, disfruta de un delicioso Pan navideño dulce + nuestros deliciosas panes de manteca.</p>
                <span>$700</span>
            </div>
        </article>
        <article class="promociones__item">
            <picture>
                <img #animado class="promociones__imagen" src="assets/img/bolitas de chocolate y coco.jpg" alt="">
            </picture>
            <div #animado class="promociones__description">
                <h3>Bolitas de chocolate y coco</h3>
                <p>Acompañantes ideales de unos buenos mates. Comprando dos docenas te llevás la segunda a mitad de precio.</p>
                <span>$850</span>
            </div>
        </article>
    </div>
</section>
