<section class="promociones">
    <h2>Promociones</h2>
    <div class="promociones__container">
        <article class="promociones__item">
            <picture>
                <img class="promociones__imagen" src="assets/img/img1.jpg" alt="">
            </picture>
            <div class="promociones__description">
                <h3>Torta</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                <span>$400</span>
            </div>
        </article>
        <article class="promociones__item">
            <picture>
                <img class="promociones__imagen" src="assets/img/img1.jpg" alt="">
            </picture>
            <div class="promociones__description">
                <h3>Factura</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing. Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, dicta?</p>
                <span>$200</span>
            </div>
        </article>
        <article class="promociones__item">
            <picture>
                <img class="promociones__imagen" src="assets/img/img1.jpg" alt="">
            </picture>
            <div class="promociones__description">
                <h3>Pan</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing. Lorem ipsum dolor sit amet.</p>
                <span>$350</span>
            </div>
        </article>
    </div>
</section>
