<section class="promociones" #promociones>
    <h2>Promociones</h2>
    <div class="promociones__container">
        <article class="promociones__item" *ngFor="let item of promocions">
            <picture class="promociones__picture">
                <img #animado class="promociones__imagen" src="{{item?.img}}" alt="">
            </picture>
            <div #animado class="promociones__description">
                <h3>{{item?.titulo}}</h3>
                <p>{{item?.descripcion}}</p>
                <span>{{item?.precio | currency}}</span>
            </div>
        </article>
    </div>
</section>
